* {
    margin: 0;
    padding: 0;
}
body{
    min-height: 100 dvh;
    display: grid;
    place-items: center;
    background-color: #548687;
    text-align: center;
}
.container{
    height: 500px;
    width: 5min(90vmin, 420px);
    aspect-ratio: 1/1;
     display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game{
    
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    background-color: #34a0a4;
}
.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size:clamp(20px, 8vmin, 48px);
    color: #e80b0b;

}
.reset{
    margin-top: 2rem;
    padding: 1rem ;
    font-size: 50px;
    border-radius: 1rem;
    background-color: #480ada;
    color: white;
}
#new-btn{
    
    padding: 1rem ;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: #480ada;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    font-size: 80px ;
    color: rgb(95, 13, 236);
}
.msg-container{
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    
}
.hide{
    display: none;
}